<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to events_path, class: "navbar-brand" do %>
      <%= image_tag "logo.svg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="search-container">
        <%= form_with url: events_path, method: :get, id: "search-form", class: "d-flex" do %>
          <div class="input-group">
            <%= text_field_tag :query, params[:query], id: "search-query", class: "form-control field-btn", placeholder: "Nome do evento ou cidade", style: "width: 300px;" %>
            <%= text_field_tag :date, params[:date], class: "form-control field-btn", placeholder: "Date", type: "date", style: "width: 250px;" %>

            <%= button_tag type: "submit", name: "", class: "search-btn btn-success" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </div>
        <% end %>
      </div>

    <script>
      document.getElementById("search-query").value = "";
    </script>

      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <div class='nav-link'>
              <%= current_user.name %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, width: 40, height: 40, crop: :thumb, gravity: :face, class: "avatar", alt: "dropdown menu" %>
              <% else %>
                <%= image_tag "avatar.svg", class: "avatar", alt: "dropdown menu" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Pedidos", orders_path, class: "dropdown-item" %>
              <%= link_to "Tickets", tickets_path, class: "dropdown-item" %>
              <% if current_user.company? %>
                <%= link_to "Meus Eventos", my_events_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Perfil", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
