<div id="<%= dom_id(comment) %>">
  <div class="d-flex align-items-center mt-2">
    <% if comment.user.photo.attached? %>
      <%= cl_image_tag comment.user.photo.key, class: 'forum-avatar', crop: :fill %>
    <% else %>
      <%= image_tag "avatar.svg", class: 'forum-avatar'  %>
    <% end %>
      <div>
        <p class='forum-user'><%= comment.user.email %>:</p>
        <div class="d-flex align-items-center">
          <p class='forum-text'><%= comment.content %></p>
          <% if comment.user == current_user %>
            <%= link_to "Deletar", event_post_comment_path(@event, post, comment), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'delete-comment text-danger' %>
          <% end %>
        </div>
      </div>
  </div>
</div>
