<%= simple_form_for @event do |f| %>
  <div class="form-group">
    <%= f.input :title, label: false, placeholder: 'Título', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group mb-3 position-relative">
    <i class="fa-solid fa-location-dot position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); color: #FF6600;"></i>
    <%= f.input :location, label: false, placeholder: 'Local', input_html: { class: 'form-control', style: 'padding-left: 35px;' } %>
  </div>

  <div class="form-group">
    <%= f.input :description, label: false, as: :text, placeholder: 'Descrição', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group mb-3 position-relative">
    <i class="fa-regular fa-calendar position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); color: #FF6600;"></i>
    <%= f.input :date, label: false, as: :string, placeholder: 'Data', input_html: { data: { controller: "flatpickr" }, class: 'form-control', style: 'padding-left: 35px;' } %>
  </div>

  <div class="form-group mb-4 position-relative">
    <i class="fa fa-upload position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); color: #FF6600;"></i>
    <%= f.input :photo, label: false, as: :file, input_html: { class: 'form-control-file', style: 'padding-left: 35px;' } %>
  </div>


  <h5 class='mt-4'>Tipos de ingressos</h5>
  <div class="my-2" data-controller="nested-rondo" data-nested-rondo-field-class-value="ticket-type-field">
    <div data-nested-rondo-target="fieldContain">
      <%= f.simple_fields_for :ticket_types do |ticket_type| %>
        <%= render "ticket_type_fields", f: ticket_type %>
      <% end %>
    </div>
    <div>
      <%= link_to_add_association " + ", f, :ticket_types, class: 'btn btn-sm btn-outline-success text-decoration-none association' %>
    </div>
  </div>


  <div class="form-group text-center mt-3">
    <%= f.button :submit, "Confirmar", class: 'btn btn-primary' %>
  </div>
<% end %>
