<div class="bg-white rounded p-4 shadow-sm">
  <%= simple_form_for @event do |f| %>
    <div class="form-group">
      <%= f.input :title, label: false, placeholder: 'Título', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :location, label: false, placeholder: 'Local', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :description, label: false, as: :text, placeholder: 'Descrição', input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :date, label: false, as: :string, placeholder: 'Data', input_html: { data: { controller: "flatpickr" } } %>
    </div>
    <div class="form-group">
      <%= f.input :photo, label: false, as: :file, input_html: { class: 'form-control-file' } %>
    </div>


    <h3 class="text-xl mt-4">Tipos de ingressos</h3>
    <div class="my-2" data-controller="nested-rondo" data-nested-rondo-field-class-value="ticket-type-field">
      <div data-nested-rondo-target="fieldContain">
        <%= f.simple_fields_for :ticket_types do |ticket_type| %>
          <%= render "ticket_type_fields", f: ticket_type %>
        <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association "Adicionar Tipo de Ingresso", f, :ticket_types %>
      </div>
    </div>


    <div class="form-group text-center">
      <%= f.button :submit, "Criar Evento", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
