<div id="<%= dom_id(post) %>">
  <%# turbo_stream_from "event_#{@event.id}" %>
  <!-- <div id="post-<%# post.id %>"> -->
    <div class="mt-3">
      <div class="forum-card">
        <div class="d-flex justify-content-between align-items-center">
          <div class='d-flex'>
            <% if post.user.photo.attached? %>
              <%= cl_image_tag post.user.photo.key, width: 30, class: 'forum-avatar', crop: :fill %>
            <% else %>
              <%= image_tag "avatar.svg", width: 30, class: 'me-2'  %>
            <% end %>
            <div>
              <p class='forum-user'><%= post.user.email %></p>
              <p class='forum-text'><%= post.content %></p>
            </div>
          </div>
          <% if post.user == current_user %>
            <%= link_to "Deletar post", event_post_path(@event, post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
          <% end %>
        </div>
        <!-- Comments -->
        <div id="post_<%= post.id %>_comments">
          <% post.comments.order(created_at: :asc).each do |comment| %>
            <%= render "events/comment", comment: comment, post: post %>
          <% end %>
        </div>
        <!-- Add Comment -->
        <% if user_signed_in? %>
          <div class="mt-3">
            <%= simple_form_for [@event, post, post.comments.new], html: { data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }, class: 'form-inline' } do |f| %>
              <%= f.input :content, as: :string, label: false, input_html: { class: 'form-control bg-white forum-input', placeholder: 'Adicione um comentário...' } %>
              <%= f.button :submit, 'Comment', class: 'btn btn-sm btn-outline-primary d-none' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <%# </div> %>
</div>
