<div class="d-flex justify-content-between mb-4">
  <div>
    <h1>My Events</h1>
  </div>
  <div>
    <%= link_to 'Add new event', new_event_path, class: 'my_events-btn btn-success rounded' %>
  </div>
</div>

<% if @my_events.any? %>
  <div class="scrollable-container">
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 277, "gutter": 30 }'>
      <% @my_events.each do |event| %>
        <div class="grid-item">
          <%= cl_image_tag(event.photo.key, crop: :fill) %>
          <div class="card-content">
            <h2><%= event.title %></h2>
            <p>Location: <%= event.location %></p>
            <p>Date: <%= event.date %></p>
            <%= link_to "Edit event", edit_event_path(event), class: 'btn btn-sm btn-outline-warning rounded' %>
            <%= link_to "Remove event", event_path(event), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger rounded' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p>No events found.</p>
<% end %>

<div class="text-center mt-4">
  <%= link_to 'All events', events_path, class: 'my_events-btn btn-outline-primary rounded' %>
</div>
