<h1><%= @event.title %></h1>
<p>Date: <%= @event.date %></p>
<p>Location: <%= @event.location %></p>
<p>Description: <%= @event.description %></p>
<p>Host: <%= @event.user.name %> </p>
<%= cl_image_tag(@event.photo.key, crop: :fill) %>

<%= link_to 'Back to events', events_path %>
