<div class="container">
  <div class="row mt-3">
    <div class='col-sm-12 col-lg-7'>
      <div style="width: 100%; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <div class="d-flex my-3 justify-content-between">
        <% if current_user %>
          <button type="button" class="btn btn-primary rounded me-1" data-bs-toggle="modal" data-bs-target="#sellTicketModal" style='width:100%'>
            Vender
          </button>
          <button type="button" class="btn btn-primary rounded ms-1" data-bs-toggle="modal" data-bs-target="#buyTicketModal" style='width:100%' <%= @tickets_by_type.values.sum == 0 ? 'disabled' : '' %>>
            Comprar
          </button>
        <% else %>
          <%= link_to 'Vender', new_user_session_path, class: 'btn btn-primary rounded ms-1', style: 'width: 100%' %>
          <%= link_to 'Comprar', new_user_session_path, class: 'btn btn-primary rounded ms-1', style: 'width: 100%' %>
        <% end %>
      </div>

      <div class='d-flex justify-content-between mt-3'>
        <div>
          <div class='d-flex align-items-baseline'>
            <h3><%= @event.title %></h3>
          </div>
        </div>
        <div>
          <p class='mb-3'><strong><%= @event.date %></strong></p>
        </div>
      </div>

        <p class='h5 fw-semibold'>Host: <%= @event.user.name %></p>
        <p class='h6'>Location: <%= @event.location %></p>
        <p><%= @event.description %></p>

        <!-- Forum -->
          <div class="mt-5">
            <h3>Fórum</h3>

            <!-- Display Posts -->
            <% @event.posts.order(created_at: :desc).each do |post| %>
              <div class="card mt-3">
                <div class="card-body">
                  <p class='mb-1'><strong><%= post.user.email %></strong></p>
                  <p class="card-text"><%= post.content %></p>
                  <!-- Comments -->
                  <% post.comments.order(created_at: :asc).each do |comment| %>
                    <div class="mt-2 ms-3">
                      <p class='mb-1'><strong><%= comment.user.email %>:</strong></p>
                      <div class="d-flex">
                        <p><%= comment.content %></p>
                        <% if comment.user == current_user %>
                          <p><%= link_to "Deletar", event_post_comment_path(@event, post, comment), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'delete-comment text-danger' %></p>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                  <!-- Add Comment -->
                  <div class="d-flex justify-content-between">
                    <%= link_to 'Comment', new_event_post_comment_path(@event, post), class: 'btn btn-sm btn-outline-primary' %>
                    <% if post.user == current_user %>
                      <%= link_to "Deletar post", event_post_path(@event, post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger rounded' %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>


            <!-- New Post -->
            <%= simple_form_for [@event, @post] do |f| %>
              <div class="form-group mt-3">
                <%= f.input :content, as: :text, label: false, input_html: { class: 'form-control' } %>
              </div>
              <div class="text-end d-flex justify-content-between mb-4">
                <%= link_to 'Voltar aos eventos', events_path, class: 'btn btn-sm btn-outline-primary' %>
                <%= f.button :submit, 'Post', class: 'btn btn-sm btn-primary' %>
              </div>
            <% end %>
          </div>
    </div>

    <div class='col-sm-12 col-lg-5'>
      <% if @event.photo.present? %>
        <%= cl_image_tag(@event.photo.key, widht: '100%', crop: :fill, class: 'img-fluid') %>
      <% end %>
    </div>
  </div>

  <!-- Sell Modal -->
  <div class="modal fade" id="sellTicketModal" tabindex="-1" role="dialog" aria-labelledby="sellTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="sellTicketModalLabel">Vender</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'tickets/form', ticket: @ticket, event: @event %>
        </div>
      </div>
    </div>
  </div>

  <!-- Buy Modal -->
  <div class="modal fade" id="buyTicketModal" tabindex="-1" role="dialog" aria-labelledby="buyTicketModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="buyTicketModalLabel">Comprar</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'orders/form', ticket: @ticket, event: @event %>
        </div>
      </div>
    </div>
  </div>

</div>
