<div class="container">
  <h1 class='mb-3'>Pedidos</h1>

  <div class="tickets-container pb-4">
    <% if @orders.present? %>
      <% @orders.each do |event, orders| %>
      <div class="order-ticket">
        <div class='order-ticket-infos'>
        <div class='d-flex justify-content-between align-items-center mb-3'>
          <h2><%= event.title %></h2>
          <p><strong><%= event.date.strftime("%d-%m-%Y") %></strong></p>
        </div>
          <p class='mt-1 mb-3'><%= event.location %></p>

          <ol class='ps-0'>
            <% orders.each do |order| %>
              <li class='d-flex align-items-center'>
                ● <div class='mt-0 ms-2 order-item'> <%= humanized_money_with_symbol(order.ticket.ticket_type.price_cents / 10.0) %> - <%= order.ticket.ticket_type.type_of_ticket.capitalize %></div>
                <%= link_to 'Remover', order_path(order), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'ms-3' %>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
      <% end %>
  </div>

    <h3>Preço Total: <%= humanized_money_with_symbol(@total_price) %></h3>

    <%= form_with url: create_checkout_session_path, data: { turbo_method: :post, turbo: false }, local: true do %>
      <%= submit_tag 'Checkout', class: 'btn btn-primary mt-3' %>
    <% end %>

  <% else %>
    <p>Sem pedidos para processar!</p>
  <% end %>
</div>
