<div class="container">
  <h1 class='mb-3'>Orders</h1>

  <% if @orders.present? %>
    <% @orders.each do |event, orders| %>
    <div class="grid-item">
      <div class='card-content'>
        <h2><%= event.title %></h2>
        <p><%= event.location %></p>
        <p><strong><%= event.date.strftime("%d-%m-%Y") %></strong></p>

        <ol>
          <% orders.each do |order| %>
            <li>
              <%= order.ticket.ticket_type %> - <%= humanized_money_with_symbol(order.ticket.price) %>
              <%= link_to 'Remove', order_path(order), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>

    <% end %>

    <h3>Total Price: <%= humanized_money_with_symbol(@total_price) %></h3>

    <%= form_with url: create_checkout_session_path, data: { turbo_method: :post, turbo: false }, local: true do %>
      <%= submit_tag 'Checkout', class: 'btn btn-primary mt-3' %>
    <% end %>

  <% else %>
    <p>No orders to process!</p>
  <% end %>
</div>
