<h1>New Order</h1>

<hr>
user: <%= @order.user.email %>
<hr>
event: <%= @event.title %>
<hr>

<%= simple_form_for [@event, @order] do |form| %>
  <% @tickets_by_type.each do |ticket_type, count| %>
    <div class="form-group">
      <%= form.input "#{ticket_type}_quantity", label: "#{ticket_type} - #{count} available",
                     as: :integer,
                     input_html: { min: 0, max: count, step: 1, value: 0 },
                     required: false %>
    </div>
  <% end %>

  <%= form.hidden_field :event_id, value: @event.id %>
  <%= form.hidden_field :user_id, value: @order.user.id %>

  <%= form.submit 'Create Order', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back', events_path, class: 'btn btn-secondary' %>
