  <div class="bg-white rounded p-4 shadow-sm">
    <h6><strong><%= @event.title %></strong></h6>
    <hr>

    <%= form_with url: event_tickets_path(@event), method: :post, local: true do |f| %>
      <% @event.ticket_types.each do |ticket_type| %>
        <div class="form-group">
          <%= label_tag "ticket_types[#{ticket_type.id}]", "#{ticket_type.type_of_ticket} (Preço: #{ticket_type.price_cents} cada)", class: "form-label" %>
          <%= number_field_tag "ticket_types[#{ticket_type.id}]", 0, min: 0, step: 1, class: "form-control", placeholder: "Quantity" %>
        </div>
      <% end %>

      <%= f.submit 'Vender Ingressos', class: 'btn btn-primary mt-3 text-center' %>
    <% end %>
  </div>
