<%= turbo_frame_tag ticket do %>
  <div class='card-ticket'>
    <div class="cut-left"></div>
    <%= cl_image_tag(ticket.event.photo.key, crop: :fill) %>
    <div class="card-ticket-infos">
      <h2><%= ticket.event.title %></h2>
      <p>Data: <strong><%= ticket.event.date.strftime("%d-%m-%Y") %></strong></p>
      <p>Tipo: <strong><%= ticket.ticket_type %></strong> <i class="fa-regular fa-file" style="color: #000000;"></i></p>
      <p>Preço: <strong><%= humanized_money_with_symbol(ticket.price) %></strong></p>
      <% if ticket.available %>
        <%= simple_form_for ticket do |f| %>
          <%= f.input :available, :as => :hidden, :input_html => { :value => !ticket.available } %>
          <%= f.submit 'VENDENDO', class: 'selling', data: { turbo_confirm: 'Você tem certeza que quer deixar de vender este ingresso?' } %>
        <% end %>
      <% else %>
        <%= simple_form_for ticket do |f| %>
          <%= f.input :available, :as => :hidden, :input_html => { :value => !ticket.available } %>
          <%= f.submit 'Vender', class: 'sell', data: { turbo_confirm: 'Você tem certeza que quer vender este ingresso?' } %>
        <% end %>
      <% end %>
    </div>
    <div class="cut-right"></div>
  </div>
<% end %>
