<div class="container">
  <h1 class='mb-3'>Tickets</h1>

  <% if @tickets.present? %>
    <% @tickets.each do |event, tickets| %>
      <div class='card-content'>
      <h2><%= event.title %></h2>
      <p><%= event.location %></p>
      <p><strong><%= event.date.strftime("%d-%m-%Y") %></strong></p>

      <% tickets_by_type = tickets.group_by(&:ticket_type) %>
      <% tickets_by_type.each do |ticket_type, tickets_of_type| %>
        <ol>
          <% tickets_of_type.each do |ticket| %>
            <li>
              <%= ticket.ticket_type %> - <%= humanized_money_with_symbol(ticket.price) %>
              <%= link_to 'Sell' %>
            </li>
          <% end %>
        </ol>
      <% end %>
      </div>
    <% end %>

    <% else %>
      <p>No tickets to sell!</p>
    <% end %>

  <div class="text-center mt-4">
    <%= link_to 'All events', events_path, class: 'btn btn-outline-primary rounded' %>
  </div>
</div>
