<h1 class='mb-3'>Tickets for sale</h1>

<div class="flexbox">
  <% if @tickets.present? %>
    <ul>
      <% @tickets.each do |ticket| %>
        <li>
          Ticket: <%= ticket.ticket_type %>
          <h2><%= ticket.event.title %></h2>
            <p><%= ticket.event.date %></p>
            <p><%= ticket.event.location %></p>
            <p><%= ticket.ticket_type %> - <%= humanized_money_with_symbol(ticket.price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No tickets to sell!.</p>
  <% end %>
</div>

<div class="text-center mt-4">
  <%= link_to 'All events', events_path, class: 'btn btn-outline-primary rounded' %>
</div>
